$def with(datos, datos1, datos2)

<h1>Cotizacion para Mesas</h1>

$for i in range(0):
    $i - $i <br> 
<table>
    <td>
        mesa1 $datos[0] <br>
        invitados $datos1[0] <br>
        precio $datos2[0] <br>
        mesa2 $datos[1] <br>
        invitados $datos1[1] <br>
        precio $datos2[1]<br>
        mesa3 $datos[2] <br>
        invitados $datos1[2] <br>
        precio $datos2[2]<br>
        mesa4 $datos[3] <br>
        invitados $datos1[3] <br>
        precio $datos2[3]<br>
        mesa5 $datos[4] <br>
        invitados $datos1[4] <br>
        precio $datos2[4]<br>
</td>
</table>
